body {
  background-color: gray;
  color: white;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 190px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.js-rock-button {
  margin-right : 450px
}

.js-paper-button {
  margin-bottom: 0px;
}

.icons {
  height: 100px;
  width: 150px;
  margin-right: 20px;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.reset-score-button,
.auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  margin-right: 30px;
}